.checker--box {
  font-family: "Poppins", sans-serif;
}
.option-container {
  font-family: "Poppins", sans-serif;
}
.text-area {
  color: white;
}
.full-body {
  position: absolute;
  left: 400px;
  bottom: -90px;
  height: 400px;
}
.layers:hover {
  cursor: pointer;
  fill: black;
}
